body {
    background-color: #d3ffce;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size:60px;
    font-weight: bold;
}

footer {
    text-align: right;
}

button {
    background-color: #4CAF50;
    color: white;  
    border: none;
    cursor: pointer;
    font-size:16px;
    padding: 13px 40px; 
}

#login_button {
    padding: 16px 90px;
}

#logout_button {
    background-color: #f44336;
}

button:hover {
    opacity: 0.8;
}
#profile_data{
    font-weight: bold;
}

