{% extends "lab_4/layout/base.html" %}

{% block content %}

<style>
body {
    background-color: #F0F7D4
}
h1 {font-size: 36px;}
h1 {font-size: 36px;}
h2 {font-size: 36px;}
</style>

<body>
    <img src= "https://pbs.twimg.com/profile_images/912363838019846144/KzREA5xW_400x400.jpg" alt= "My photo" width="180" height="180" class="img-circle" />
<h1><b><font color="#092834" size="36px">Nabila Laili Halimah</font></b></h1>
<h2><b><font color="#092834">Portofolio</font></b></h2>
<hr/>
<section name="bio">
    <h3><b><font color="#347B98">Bio</font></b></h3>
    <p>
        {{content}}
    </p>    
</section>
<hr/>
<section name="about_me">
    <h3><b><font color="#347B98">List</font></b></h3>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<section name="form">
	<h3><b><font color="#347B98">Send Message</font></b></h3>
	<form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
		{% csrf_token %}
		{{ message_form }}
		<br>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</section>
<hr/>
</body>

{% endblock %}
