{% load staticfiles %}
<!-- Fixed navbar -->
    <nav style="padding:5px;" class="navbar navbar-default navbar-static-top" id="nav_design">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		<a class="navbar-brand"  href="{% url 'lab-9:index' %}">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- LINK MENUJU table, dan link menuju home#form -->
			<li><a href="{% url 'lab-9:auth_logout' %}" id="tombol" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')">Logout </a>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
