{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 8">
    <meta name="author" content="Kemala">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab_8.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <title>
        {% block title %} Lab 8 By {{author}} {% endblock %}
    </title>
</head>
<body>
    <div class="mainContainer"  style="background-image:url({% static 'image/hogwarts.jpg' %});">
      <div class="secondContainer">
        <div class="logWraper">
          <p>Log in with Facebook</p>
          <button id="login" onclick="facebookLogin()">Log in</button>
        </div>
      </div>
    </div>
    <content>
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
    </content>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
      var pic1 = "{% static 'image/out1.png' %}";
      var redirect = "{% url 'lab-8:index' %}";
      $(window).on('load',function(){
        $('.logWraper').fadeIn(2000);
      });
    </script>
    <script src="{% static 'js/lab8.js' %}"></script>
</body>
</html>
